---
traefik_required_env_vars:
  - TRAEFIK_IMAGE
  - TRAEFIK_CONTAINER_NAME
  - TRAEFIK_HTTP_PORT
  - TRAEFIK_HTTPS_PORT
  - TRAEFIK_WEB_PORT
  - TRAEFIK_DOCKER_NETWORK
  - TRAEFIK_STACK_DIR
  - TRAEFIK_CONFIG_DIR
  - TRAEFIK_DATA_DIR
  - TRAEFIK_CERT_DIR
  - TRAEFIK_CERT_FILE
  - TRAEFIK_KEY_FILE
  - TRAEFIK_SYSTEMD_AUTOSTART
  - TRAEFIK_LOG_LEVEL
  - CA_SHARE_ENABLED
  - TRAEFIK_FORCE_REGEN_CERT

traefik_image: "{{ lookup('env', 'TRAEFIK_IMAGE') }}"
traefik_container_name: "{{ lookup('env', 'TRAEFIK_CONTAINER_NAME') }}"
traefik_http_port: "{{ lookup('env', 'TRAEFIK_HTTP_PORT') }}"
traefik_https_port: "{{ lookup('env', 'TRAEFIK_HTTPS_PORT') }}"
traefik_web_port: "{{ lookup('env', 'TRAEFIK_WEB_PORT') }}"
traefik_docker_network: "{{ lookup('env', 'TRAEFIK_DOCKER_NETWORK') }}"
traefik_stack_dir: "{{ lookup('env', 'TRAEFIK_STACK_DIR') }}"
traefik_config_dir: "{{ lookup('env', 'TRAEFIK_CONFIG_DIR') }}"
traefik_data_dir: "{{ lookup('env', 'TRAEFIK_DATA_DIR') }}"
traefik_cert_dir: "{{ lookup('env', 'TRAEFIK_CERT_DIR') }}"
traefik_cert_file: "{{ lookup('env', 'TRAEFIK_CERT_FILE') }}"
traefik_key_file: "{{ lookup('env', 'TRAEFIK_KEY_FILE') }}"
traefik_systemd_autostart: "{{ lookup('env', 'TRAEFIK_SYSTEMD_AUTOSTART') }}"
traefik_log_level: "{{ lookup('env', 'TRAEFIK_LOG_LEVEL') }}"
traefik_docker_api_version: "{{ lookup('env', 'TRAEFIK_DOCKER_API_VERSION') | default('', true) }}"
traefik_docker_host: "{{ lookup('env', 'TRAEFIK_DOCKER_HOST') | default('unix:///var/run/docker.sock', true) }}"

traefik_local_cert_dir: >-
  {{ lookup('env', 'TRAEFIK_LOCAL_CERT_DIR') | default('/workspace/certs', true) }}
traefik_local_cert_file: "{{ traefik_local_cert_dir }}/{{ traefik_cert_file | basename }}"
traefik_local_key_file: "{{ traefik_local_cert_dir }}/{{ traefik_key_file | basename }}"
traefik_local_ca_export_file: "{{ traefik_local_cert_dir }}/rootCA.pem"
traefik_cert_hosts: []

traefik_ca_verify_enabled: "{{ lookup('env', 'CA_SHARE_ENABLED') | lower == 'true' }}"
traefik_force_regen_cert: "{{ lookup('env', 'TRAEFIK_FORCE_REGEN_CERT') | lower == 'true' }}"
