entryPoints:
  web:
    address: ":{{ traefik_http_port }}"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":{{ traefik_https_port }}"
  traefik:
    address: ":{{ traefik_web_port }}"

api:
  dashboard: true

providers:
  docker:
    exposedByDefault: false
    network: "{{ traefik_docker_network }}"
  file:
    filename: /etc/traefik/dynamic.yml
    watch: true

log:
  level: "{{ traefik_log_level }}"
