[Unit]
Description=Traefik reverse proxy
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory={{ traefik_stack_dir }}
ExecStart=/usr/bin/docker compose -f {{ traefik_stack_dir }}/docker-compose.yml up -d
ExecStop=/usr/bin/docker compose -f {{ traefik_stack_dir }}/docker-compose.yml down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
